<div class="panel panel-default">
	<div class="panel-heading" ng-hide="creation">Détails {{ salle.nom }}</div>
	<div class="panel-heading" ng-show="creation">Création de salle</div>
	<div class="panel-body">
		<form novalidate name="form" ng-submit="save()">
			<div class="form-group">
				<label>Nom</label>
				<input type="text" class="form-control" name="nom" ng-model="salle.nom" required>
                <span class="text-danger" ng-show="form.nom.$error.required">Veuillez préciser un nom.</span>
			</div>
			<div class="form-group">
			<div class="col-sm-offset-2">
				<input type="submit" class="btn btn-success" value="Enregistrer" ng-disabled="form.$invalid"/>
				<button type="button" class="btn btn-default" ng-click="remove()" ng-hide="creation">Supprimer</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Annuler</button>
			</div>
		  </div>
		</form>
	</div>
</div>
 