<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Gestion des Salles
    </h3>
  </div>
  <table st-table="sallesView" st-safe-src="salles" class="table table-responsive table-hover">
    <thead>
      <tr>
        <th st-sort="nom">Nom</th>
        <th>Actions</th>
      </tr>
      <tr>
        <th>
          <input st-search="nom" placeholder="recherche nom" class="input-sm form-control" type="search" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="salle in sallesView">
        <td>{{ salle.nom }}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="open(salle)">Editer</button>
            <button type="button" class="btn btn-default" ng-click="remove(salle)">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3" class="text-center">
          <div st-pagination st-items-by-page="15" st-displayed-pages="7"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-default" ng-click="open()">Créer une salle</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>