[client]
socket=/var/lib/mysql/mysql.sock

[mysqld]
skip-host-cache
skip-name-resolve
skip-networking
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
# datadir=/var/lib/mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid